.player{
	position:absolute;
}

#message{
	border:1px solid;
	height:80px;
	width: 200px;
	position: relative;
	left: 260px;
	bottom:-10px;
}
.choosing{
	positon:relative;
	border:1px solid;
	height:40px;
	width:40px;
	left:30px;
	background: blue;

}
form{
	color:white;
    position: relative;
    left: 18px;
    top: 50px;
}
#enterChoice{
	background-color: #333;
}
.sweet-alert .visibleInput{
    display: inline-block;
    height: auto;
    width: auto;
    margin: auto;
}
li:hover{
	background: red;
}

.choiceOn{
	position:absolute;
	border:1px solid;
	height:40px;
	width:40px;
	top:300px;
	right:350px;
	background: blue;
}
.on{
	height:200px;
	width:200px;
	position: relative;
	top: 180px;
	left:0px;
	background:red;
}

.choose{
	position: relative;
	top:260px;
	left:400px;
}
.block1{
	height: 40px;
	position: fixed;
	width: 40px;
	background: grey;
}
.block2{
	height: 40px;
	width: 40px;
	position: relative;
	top: 360px;
	left:560px;
	background: grey;
}
.progress-bar{
	aria-valuenow: "60";
	aria-valuemin: "0"; 
	aria-valuemax :"100";
	width: 100%;"
}
.pb2{
	background-color:red;
}
#sprite{
	height:140%;
	width:140%;
}


.gameWindow{
	border: 1px solid;
	height:400px;
	width: 600px;
}

#pokeball{
	height:20px;
}
.pgB1{
	position: relative;
	top:78px;
	left:54px;
	width:80%;
}
.pbB2{
    width: 80%;
    position: relative;
    left: 50px;
    top: 14px;
}
#me{
	height:400px;
	width:400px;
	position: relative;
	bottom:120px;
}
#enemy{
    position: relative;
    height: 260px;
    width: 260px;
    top: -42px;
    right: 136px;

}

.userMenu{
	position: relative;
    top: 80px;
    left:60%;
    background: #333;
    box-sizing: border-box;
    width: 380px;
    border-radius: 40px;
    height: 200px;
}
.userMenu2{
	width: 400px;
    background-color: #333;
    height: 80px;
    border-radius: 40px;
}
.currentPokemon{
	width: 280px;
	height: 42px;
		text-align: center;
	position: relative; 
	top: -14px;
	left: 90px;

}
.pkb{
	width: 40px;
	height: 40px;
	margin-top:1px;
	display: inline-block;
}
.pkb:hover{
	    box-shadow: 0px 0px 5px #fff;

}