.player{
	position:absolute;
}

#message{
	border:1px solid;
	height:80px;
	width: 200px;
	position: relative;
	left: 260px;
	bottom:-10px;
}
.choosing{
	positon:relative;
	border:1px solid;
	height:40px;
	width:40px;
	left:30px;
	background: blue;

}
.choiceOn{
	position:absolute;
	border:1px solid;
	height:40px;
	width:40px;
	top:300px;
	right:350px;
	background: blue;
}
.on{
	height:200px;
	width:200px;
	position: relative;
	top: 180px;
	left:0px;
	background:red;
}

.choose{
	position: relative;
	top:260px;
	left:400px;
}
.block1{
	height: 40px;
	position: fixed;
	width: 40px;
	background: grey;
}
.block2{
	height: 40px;
	width: 40px;
	position: relative;
	top: 360px;
	left:560px;
	background: grey;
}

#sprite{
	height:140%;
	width:140%;
}


.gameWindow{
	border: 1px solid;
	height:400px;
	width: 600px;
}

#pokeball{
	height:20px;
}
.progress{
	position: relative;
	bottom:54px;
	left:240px;
	width:40%;
}

.currentPokemon{
	width: 280px;
	height: 42px;
	background: #222222;
	text-align: center;
	position: relative; 
	bottom: 106px;
	left: 760px;
}
.pkb{
	width: 40px;
	height: 40px;
	margin-top:1px;
	display: inline-block;
}
.pkb:hover{

}